@import 'utils/variables';
@import 'components/type';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100000px;

    margin-bottom: 3rem;
}

.param {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 400px;
}

.play-btn {
    margin-top: 3rem;
    padding: 2rem;
}